Shapely==1.7.1
textdistance==4.1.5
attrs>=19.2.0
numpy>=1.19.5
requests==2.25.1
scipy==1.4.1
attr==0.3.1
xmljson==0.2.0
lxml>=4.2.5
https://github.com/heartexlabs/label-studio-tools/archive/455e9c1d73d5737c1b31b8ca2fc1d2e018ac7665.zip